<br><br><br>

<h1> Home Page </h1>

<br>
<br>

Welcome! This is the master webpage for Chess Camps!<br>
Through here you will be able to make edits for different<br>
sections of the Chess Camp such as the camp schedule and instructors!

<font15>
<div class="footer">
    <p>Webmaster</p>
    </font15>
    <font10>
        <p>Created by Faiq Defiandry</p>
    </font10>
</div>

