<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>



<br><br><br>

<h1> About Us </h1>

<br>
<br>

The Chess Camp Program, founded in April 2018, serves as a place where members of all ages and skill levels can congregate and enjoy the royal game of chess. The Chess Camp also sells basic chess supplies and has an open library of over 700 books.
<br>
 

The Chess Camp serves as an educational hub for chess in the Charlotte area; offering camps, classes and lectures year round.
<br>

The Chess Camp runs weekly and monthly chess events such as weekly rated play, special events, lectures, classes, weekend tournaments. The Chess Camp is constantly making efforts to create partnerships with local and national educational programs to further the expansion of chess not only locally but nationally. 
<br>
<br>

Source: https://www.charlottechesscenter.org/about


<br>
<br>

<font15>
<div class="footer">
    <p>About</p>
    </font15>
    <font10>
        <p>Created by Faiq Defiandry</p>
    </font10>
</div>