<br><br><br>

<p id="notice"><%= notice %></p>

<h3> Family Details</h3>

<p>
  <strong>Family Name:</strong>
  <%= @family.family_name %>
</p>

<p>
  <strong>Parent First Name:</strong>
  <%= @family.parent_first_name %>
</p>

  <strong>Active:</strong>
  <%= @family.active ? "Yes" : "No" %>
</p>
