<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>



<br><br><br>

<h1> Contact Us </h1>

Center Address: CMUQ Education City <br>
Contact Email: funwithchesscamps@gmail.com <br>
Contact Phone: 123-456-7890<br>



<br>
<br>

<font15>
<div class="footer">
    <p>Contact</p>
    </font15>
    <font10>
        <p>Created by Faiq Defiandry</p>
    </font10>
</div>