<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

<br><br><br>

<h1> Privacy </h1>

<br>
<br>

This privacy notice discloses the privacy practices for Chess Camp. This privacy notice applies solely to information collected by this website. It will notify you of the following:
<br><br>
- What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.<br>
- What choices are available to you regarding the use of your data.<br>
- The security procedures in place to protect the misuse of your information.<br>
- How you can correct any inaccuracies in the information.<br>

<br><br>

Source: https://www.bbb.org/greater-san-francisco/for-businesses/toolkits1/sample-privacy-policy/


<font15>
<div class="footer">
    <p>Privacy</p>
    </font15>
    <font10>
        <p>Created by Faiq Defiandry</p>
    </font10>
</div>